/* base-css */
* {
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi,
    sans-serif;
}

a,
a:hover,
a:link,
a:active {
  text-decoration: none;
}

.mgb20 {
  margin-bottom: 20px;
}

.red {
  color: #ff0000;
}

.mr10 {
  margin-right: 10px;
}

.sidebar-el-menu .el-menu-item.is-active {
  background-color: #283446 !important;
}

.container {
  padding: 30px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.pagination {
  margin: 20px 0;
  text-align: right;
}

.plugins-tips {
  padding: 20px 10px;
  margin-bottom: 20px;
}

.el-button + .el-tooltip {
  margin-left: 10px;
}

.el-table tr:hover {
  background: #f6faff;
}

.move-enter-active,
.move-leave-active {
  transition: opacity 0.5s;
}

.move-enter,
.move-leave {
  opacity: 0;
}

/*BaseForm*/
.form-box {
  width: 600px;
}

.form-box .line {
  text-align: center;
}

.el-time-panel__content::after,
.el-time-panel__content::before {
  margin-top: -7px;
}

.el-time-spinner__wrapper,
.el-scrollbar__wrap:not(.el-scrollbar__wrap--hidden-default) {
  padding-bottom: 0;
}

.message-title {
  color: #20a0ff;
}

.collapse-btn:hover {
  background: rgb(40, 52, 70);
}

/*  搜索及列表 */
.handle-box {
  margin-bottom: 20px;
}

.handle-select {
  width: 120px;
}

.handle-input {
  width: 300px;
  display: inline-block;
}

.del-dialog-cnt {
  font-size: 16px;
  text-align: center;
}

/* 弹窗样式 */
.user-modal .el-dialog {
  width: 720px;
}

.user-modal .ban .el-select {
  width: 49.5%;
}

.user-modal .ban .el-select + .el-select {
  margin-left: 1%;
}

.user-modal .el-dialog__body {
  max-height: 560px;
  overflow-x: hidden;
  overflow-y: auto;
}

/*  上传自定义进度条 */
.progress .el-progress {
  margin-top: 20px;
}

.progress .el-progress-bar {
  padding-right: 75px;
  margin-right: -75px;
}
